@font-face {
    font-family: 'Arita';
    src: url('../css/font/Arita4.0_B.ttf') format('truetype');
}
@font-face {
    font-family: 'Arita';
    src: url('../css/font/Arita4.0_L.ttf') format('truetype');
}
@font-face {
    font-family: 'Arita';
    src: url('../css/font/Arita4.0_M.ttf') format('truetype');
}
@font-face {
    font-family: 'Arita';
    src: url('../css/font/Arita4.0_SB.ttf') format('truetype');
}
@font-face {
    font-family: 'Arita';
    src: url('../css/font/Arita4.0_T.ttf') format('truetype');
}